<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:duddo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                            http://www.springframework.org/schema/beans/spring-beans.xsd
                            http://www.springframework.org/schema/mvc
                            http://www.springframework.org/schema/mvc/spring-mvc.xsd
                            http://code.alibabatech.com/schema/dubbo
                            http://code.alibabatech.com/schema/dubbo/dubbo.xsd
                            http://www.springframework.org/schema/context
                            http://www.springframework.org/schema/context/spring-context.xsd">

    <!--指定应用名称-->
    <dubbo:application name="health_service_provider"></dubbo:application>
    <!--指定端口和协议-->
    <dubbo:protocol name="dubbo" port="20881"></dubbo:protocol>
    <!--指定zookeeper-->
    <duddo:registry address="zookeeper://192.168.94.129"></duddo:registry>
    <!--扫描service层-->
    <dubbo:annotation package="com.itheima.service"></dubbo:annotation>
</beans>